# netplan: network.ethernets.ens3 (on NetworkManager deny-list)
SUBSYSTEM=="net", ACTION=="add|change|move", ENV{ID_NET_NAME}=="ens3", ENV{NM_UNMANAGED}="1"
SUBSYSTEM=="net", ACTION=="add|change|move", ATTR{address}=="52:54:00:12:34:56", ENV{NM_UNMANAGED}="1"
